/* CSS credited to https://codepen.io/golle404/pen/wWoXwz */

 .masonry-container{
	width: 80%;
	margin: auto;
	margin-top: 10px;
}

.masonry-container p {
    text-align: center;
    padding: 4px;
    font-family: monospace;
    background: #222;
    color: #efefef;
}
.masonry{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: stretch;
	width: 100%;
	margin: auto;
}
.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	flex-grow: 1;
}
.tile {
	display: flex;
	box-shadow: 0 1px 1px 2px rgba(0,0,0, .15);
    border-radius: 10px;
	margin: 4px;
	overflow: hidden;
}
.tile img {
	transition: 0.25s ease-out all;
	width: 100%;
}

.tile:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.reset-button {
	cursor: pointer;
	background-color: transparent;
	background-size: 100%;
	border: 0;
    -webkit-appearance: none;
    text-shadow: none;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    outline: none;
    width: 25px;
    height: 25px;
    opacity: 0.85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	transition: 0.25s;
}

.left-arrow, .right-arrow {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.left-arrow {
	background-image: url('../images/arrow.png') ;
	left: 10px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.right-arrow {
	background-image: url('../images/arrow.png') ;
	-webkit-transform: rotate(180deg) translateY(50%);
	transform: rotate(180deg) translateY(50%);
	right: 10px;
}

.modal-close {
	background-image: url('../images/close.png') ;
	position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    margin: 0;
    line-height: 20px;
    cursor: pointer;
	background-color: transparent;
	background-image: url('../images/close.png') ;
	background-size: 100%;
}

.reset-button:hover {
	opacity: 1;
	filter: none;
}
.modal-content---3pwnC *, .modal-content---3pwnC *:before, .modal-content---3pwnC *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.modal-wrapper {
	display: flex;
    justify-content: center;
}

.modal-img {
	box-shadow: 1px 1px 6px 0px black;
	max-height: 95%;
    max-width: 95%;
}


.ReactModal__Overlay {
	background-color: rgba(103, 103, 103, 0.75) !important;
	max-width: 100vw;
	max-height: 100vh;
	overflow: none;
}

@media screen and (max-width: 450px) {
	.masonry-container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}
	.modal-close {
		width: 50px;
		height: 50px;
		top: 50px;
	}

	.ReactModal__Content {
		width: 100% !important;
		padding: 0 !important; 
		height: 100% !important;
	}

	.ReactModal__Content:after {
		content: " ";
		position: absolute;
		background:white;
		bottom: 0;
		height: 50px;
		width: 100%;
		z-index: 1;
	}

	.left-arrow, .right-arrow {
		bottom: 0;
		top: auto;
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 4;
		z-index: 2;
	}
}