.eventInfo .slick-slider {
    box-shadow: grey 1px 1px 6px 1px;
    width: 450px;
    margin-top: auto;
    margin: auto;
}

.eventInfoImg {
    width: 450px;
}

.eventInfoDetails {
    margin: 45px;
    text-align: center;
    background-image: url("/images/background-flower.png");
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.eventInfoDetails ul {
    padding: 0;
    background-image: url("/images/background-flower-2.png");
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.eventInfoDetails strong {
    font-family: 'reeyregular';
    font-size: 16px;
    line-height: 20px;
}

.eventInfoDetailsText {
    background-color: rgba(253, 252, 252, 0.55);
    color: #4c4c4c;
}

.eventInfoDetails li {
    list-style-type: none;
}

.eventInfoDetails li p {
    margin-left: auto;
    margin-right: auto;
    max-width: 233px;
    line-height: 1.4rem;
}

@media (max-width:650px)  {
    .eventInfoDetails p {
        margin: 50px 0;
    }
    .eventInfoDetailsText {
        font-size: 1.5rem;
    }
    .eventInfo .slick-slider {
        width: 100vw;
    }
    .eventInfo .slick-list {
        width: 100vw;
    }
    .eventInfo .slick-slide img {
        width: 100%;
    }
    .eventInfoImg {
        width: 90%;
    }

    .eventInfoDetails {
        background: none;
        margin: 0 15px;
    }
    .eventInfoDetails strong {
        font-size: 1.6rem;
        line-height: 3.3rem;
    }

    .eventInfoDetails ul {
        padding-bottom: 300px;
        background-size: auto 300px;
        background-position: center bottom;
    }

    .eventInfoDetails li p {
        margin-bottom: 26px;
        margin-top: 0;
        max-width: 100%;
        line-height: 1.8rem;
    }
}
