.rsvp-lookup {
    text-align: center;
}

.rsvp-lookup__form {
    padding: 0 15px;
}

.rsvp-lookup__btn {
    display: block;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 9px 20px;
    background: #348080;
    border-radius: 2px;
    transition: 0.3s;
    margin: auto;
}

.rsvp-lookup__inputs{
    padding: 24px 0 48px;
}

.rsvp-lookup__btn:hover {
    cursor: pointer;
    background: #1b6161;
}

.rsvp-lookup__helper {
    display: block;
    color: gray;
    font-size: 12px;
    margin-top: 12px;
}

/* floating code modified from: https://codepen.io/elujambio/pen/yjwzGP */
.floating-label {
    display: inline-block;
    position:  relative; 
    margin-bottom:  24px; 
    margin-left: 10px;
    margin-right:  10px;
}

.floating-label label {
    color: #348080;
    position:  absolute; 
    top: calc(50% - 7px);
    left:  0; 
    opacity:  0; 
    transition:  all .3s ease; 
}

.floating-label input {
    padding: 5px;
    transition: 0.3s all;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid gray;
    outline: none;
    width: 100%;
}

.floating-label input:not(:placeholder-shown) {
    padding: 20px 9px 5px;
    margin-top: 1px;
}

.floating-label input:not(:placeholder-shown) + label {
    transform:  translateY(-10px); 
    opacity:  .7; 
    font-size: 12px;
    margin-left: 9px;
    top: 10px;
}

@media (max-width:450px)  {
    .floating-label {
        margin-bottom: 24px;
        width: 100%;
    }
    .floating-label input {
        width: 100%;
    }
}
