@import './style/fonts/stylesheet.css';

.lock {
  overflow: hidden;
  /* height: 100vh; */
}

* {
  box-sizing: border-box;
}

.App {
  color: #2d2d2d;
  font-family: 'slurrynormal';
  height: 100%;
}

a {
  color: #568c87;
  text-decoration: none;
  transition: 0.25s;
}

a:hover {
  color: #3b5e5a;
  text-decoration: underline;
}

p {
  font-family: 'caladearegular';
  font-size: 17px;
  line-height: 1.8rem;
}

/** fix router to bottom on home page**/
@media (min-width: 651px) {
  .intro ~ .navWrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
  }  
}

@media (max-width:650px)  {
  p {
    font-size: 24px;
    line-height: 2rem;
  }
}

@media screen and (max-width: 450px) {
    .App {
      padding-top: 75px;
      min-height: 100vh;
    }
    .date {
      font-size: 1.8rem;
      padding-top: 25px;
    }
    .date a {
      white-space: pre;
    }
}
