@import './style/fonts/stylesheet.css';

body {
  background-color: rgba(208, 205, 205, 0.12);
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  height: auto;
}

.lock {
  overflow: hidden;
  /* height: 100vh; */
}

* {
  box-sizing: border-box;
}

.App {
  color: #2d2d2d;
  font-family: 'slurrynormal';
  max-width: 1200px;
}

a {
  color: #568c87;
  text-decoration: none;
  transition: 0.25s;
}

a:hover {
  color: #3b5e5a;
  text-decoration: underline;
}

p {
  font-family: 'caladearegular';
  font-size: 17px;
  line-height: 1.8rem;
}

@media (max-width:650px)  {
  p {
    font-size: 24px;
    line-height: 2rem;
  }
}

@media screen and (max-width: 450px) {
    .App {
      padding-top: 75px;
      min-height: 100vh;
    }
    .date {
      font-size: 1.8rem;
      padding-top: 25px;
    }
    .date a {
      white-space: pre;
    }
}
