@import './style/fonts/stylesheet.css';

.lock {
  overflow: hidden;
  /* height: 100vh; */
}

* {
  box-sizing: border-box;
}

body {
  /* for the covid banner */
  margin-top: 32px;
}

.App {
  color: #2d2d2d;
  font-family: 'oregon_ldo_lightregular';
  height: 100%;
  letter-spacing: 1px;
}

.contentContainer {
  padding: 0 15px;
  margin: 0 55px;
}

h1, .h1 {
  font-family: 'reeyregular';
  line-height: 1.5;
}

h2, .h2 {
  text-transform: uppercase;
  font-family: 'oregon_ldo_lightregular';
  margin-bottom: 0;
}

a {
  color: #568c87;
  text-decoration: none;
  transition: 0.25s;
}

a:hover {
  color: #3b5e5a;
  text-decoration: underline;
}

p {
  font-family: 'caladearegular';
  font-size: 17px;
  line-height: 1.8rem;
}

.covidBanner {
  color: white;
  position: fixed;
  background: #4285ff;
  width: 100%;
  padding: 6px 12px;
  top: 0;
  box-shadow: 1px 1px 1px 1px #d0cfcf;
  z-index: 3;
}

.covidBanner a {
  color: white;
  display: flex;
  flex: 1;
}

/** fix router to bottom on home page**/
@media (min-width: 651px) {
  .intro ~ .navWrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
  }  
}

@media (max-width:650px)  {
  p {
    font-size: 24px;
    line-height: 2rem;
  }
  .contentContainer {
      margin: 0;
  }
}

@media screen and (max-width: 450px) {
    .App {
      padding-top: 75px;
      min-height: 100vh;
    }
}
